.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #00444b;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.quiz-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.question-container {
  margin-bottom: 20px;
}

.answer-options {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.answer-btn {
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.answer-btn:hover {
  background-color: #0056b3;
}

.selected {
  background-color: #28a745;
}

.timer {
  font-size: 1.5rem;
  margin-top: 10px;
}
